   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   body,
   html {
       width: 100%;
   }

   ul,
   li {
       list-style: none;
   }

   /* 通用 */
   h4{
    font-size: 16px;
   }
   h6,
   .fenlei .bookfen p,
   .textdan {
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
   }

   /* 顶部 */
   .top {
       position: -webkit-sticky;
       position: sticky;
       top: 0px;
       z-index: 999;
       background-color: #dfe98e;
   }

   .dives {

       margin: 10px;
   }

   .dives div {
       display: flex;
   }

   .dives .left .cle {
       margin: 10px;
   }

   .dives .left .cle .left-size {
       border-right: 1px solid black;
   }

   .dives .text-right input {
       border-style: none;
       outline: none;
       height: 25px;

   }

   .dives .middle span {
       color: gray;
       text-align: center;
   }

   .dives .middle .row {
       margin: 10px;
   }

   .dives .middle .middle-text i {
       height: 20px;
   }

   .dives .right .row {
       margin: 10px;
   }

   .dives .right-img img {
       border-radius: 50%;
       transform: scale(1.5);
       height: 20px;

   }

   .dives .right-text {
       border-left: 1px solid black;
   }

   .dives .right-text span {
       width: 100%;
   }

   .dives div {
       width: 100%;
   }

   .right-text a {
       text-decoration: none;
       color: #111;
   }

   .right-text .dd {
    position: absolute; 
    left: 0%; top: 100%; 
    color: #FFFFFF; 
    background-color: #3f5554; 
    z-index: 999;
    display: none; 
    width: 100%;
   }

   .right-text .dd li {
    text-align: center;
       line-height: 30px;
   }

   .right-text .dd li:hover {
       background-color: #c1bdbd;
       color: #111;
   }

   .right-text:hover .dd {
       display: block;
   }

   .right-text span a:hover {
       color: #e30404;
   }

   .find {
       border-bottom: 1px solid #dcdcdc;
       background: #fafafa;
       display: none;
   }

   .find p {
    color: #d9ae6a;
       text-align: center;
   }

   /* 导航栏 */
   .head-nav .collapse ul li {
       margin: 15px;
   }

   .head-nav .collapse ul li:hover {
       transition: all 0.3s;
       background-color: #f5e084;
   }

   /* 小轮播 */
   .tu {
       margin-left: 0%;
       width: 100%;
       overflow: hidden;
       flex-wrap: nowrap;
       overflow-x: auto;
   }

   div::-webkit-scrollbar {
       width: 0px;
       background: none;
   }

   .tu img {
       box-shadow: -2px 6px 19px 0px #7f818e;
       width: 100%;

   }

   .tu .poto:hover {
       transform: scale(1.02);
   }

   .box1 {
       border: 1px solid rgb(213, 212, 212);
       margin: 5px;
       margin-top: 15px;
   }

   .box1:hover {
       transition: all 0.3s;
       background-color: #cccbcb;
   }

   .poto img {
       margin-top: 10px;
       padding: 0px;
       height: 100%;
       margin-left: 90%;
   }

   .tu {
       width: 100%;
   }

   .tu .box-right {
       line-height: 30px;
       text-align: center;
   }

   .box-but p {
       border: 1px solid #CBB5E2;
       text-align: center;
       color: #CBB5E2;
   }

   .box-but1 p {
       border: 1px solid #FBADAF;
       text-align: center;
       color: #FBADAF;
   }

   .box-but2 p {
       border: 1px solid #de3962;
       text-align: center;
       color: #de3962;
   }

   .box-but3 p {
       border: 1px solid #1fade5;
       text-align: center;
       color: #1fade5;
   }

   .box-but4 p {
       border: 1px solid #f57ec5;
       text-align: center;
       color: #f57ec5;
   }

   .box-but p:hover {
       color: #ff6dbe;
   }

   .box-but1 p:hover {
       color: #FBADAF;
   }

   .box-but2 p:hover {
       color: #de3962;
   }

   .box-but3 p:hover {
       color: #1fade5;
   }

   .box-but4 p:hover {
       color: #f57ec5;
   }

   .tu .active {
       color: red;
   }

   /* 代表作 */

   .first ul li a {
       text-decoration: none;
       color: #111;
       font-size: 18px;
   }

   .bigbox>img {
       max-width: 100%;
   }

   .bigbox p:last-child:hover {
       color: #e30404;
   }

   .bigbox>div {
       padding: 8px;
       border: 1px solid #b6b5b2;
   }

   .bigbox>div:hover {
       background-color: #e1e1e0;
   }

   .tab .textshow {
       display: -webkit-box;
       -webkit-box-orient: vertical;
       -webkit-line-clamp: 3;
       overflow: hidden;
       color: #8e8d8c;
   }

   .tab div p {
       font-size: 14px;
       line-height: 20px;
   }

   /* 畅销榜 */
   .hot {
       border: 1px solid #b6b5b2;
       padding: 0px;
   }

   .hot ul li {
       padding: 5px;
       line-height: 50px;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
   }

   .hot ul li p {
       clear: both;
       white-space: pre-wrap;
       font-size: 12px;
       -webkit-box-orient: vertical;
       -webkit-line-clamp: 4;
       overflow: hidden;
       display: -webkit-box;
   }

   .hot ul li:hover i {
       transition: all 0.3s;
       color: #e5401f;
   }

   .hot ul li a {
       color: black;
       text-decoration: none;
   }

   .hot ul li a:hover {
       transition: all 0.3s;
       color: #e5401f;
   }

   .hot ul li:hover {
       transition: all 0.3s;
       background-color: #dfdfdf;
   }

   /* 分类阅读组件 */
   .fenlei {
       margin-top: 5%;
   }

   .fenlei .tab-content {
       margin: 5px;
       border: 1px solid rgb(168, 165, 165);
   }

   .fenlei .tab-content .tab-pane {
       margin: 15px;
   }

   .fenlei ul li {
       line-height: 40px;
       margin: 5px;
   }

   .fenlei ul li a {
       color: #8e8d8c;
       font-size: 14px;
       text-decoration: none;
   }

   .fenlei ul li a:hover {
       transition: all 0.3s;
       color: #e30404;
   }

   .fenlei .bookfen h6:hover {
       transition: all 0.3s;
       color: #e5401f;
   }

   .fenlei .bookfen a {
       align-items: center;
   }

   .fenlei .bookfen p {
       font-size: 14px;
       color: #b6b5b2;
   }

   .fenlei .bookfen img {
       margin-bottom: 5%;
   }

   .fenlei .bookfen span {
       line-height: 10px;
   }

   .fenlei .bookfen div {
       padding: 15px;
       margin-top: 0;
   }

   .fenlei .bookfen div:hover {
       transition: all 0.3s;
       background-color: #f4f2ef;
   }

   /* 回顶部 */
   .floot {
       width: 3%;
       position: fixed;
       top: 500px;
       right: 50px;
   }

   .floot ul li {
       border: 1px solid red;
       width: 100%;
       height: 50px;
       margin-top: 20px;
   }

   /* 图书新闻 */
   .two {
       margin-top: 5%;
       margin-bottom: 5%;
   }

   .two .row .two-left {
       border-left: 1px solid #d9ae6a;
   }

   .two .row span {
       color: #7f818e;
   }

   .two .row .two-text {
       width: 100%;
       border-top: 1px solid black;
       border-bottom: 1px solid black;
       font-size: 16px;
   }

   .two .two-text {
       display: -webkit-box;
       text-indent: 3rem;
       -webkit-box-orient: vertical;
       -webkit-line-clamp: 3;
       overflow: hidden;
   }

   .two .first-img {
       text-align: center;
   }