   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   body,
   html {
       width: 100%;
   }

   ul,
   li {
       list-style: none;
   }

   /* 顶部 */
   .top {
       position: -webkit-sticky;
       position: sticky;
       top: 0px;
       z-index: 999;
       background-color: #dfe98e;
   }

   .dives {

       margin: 10px;
   }

   .dives div {
       display: flex;
   }

   .dives .left .cle {
       margin: 10px;
   }

   .dives .left .cle .left-size {
       border-right: 1px solid black;
   }

   .dives .text-right input {
       border-style: none;
       outline: none;
       height: 25px;

   }

   .dives .middle span {
       color: gray;
       text-align: center;
   }

   .dives .middle .row {
       margin: 10px;
   }

   .dives .middle .middle-text i {
       height: 20px;
   }

   .dives .right .row {
       margin: 10px;
   }

   .dives .right-img img {
       border-radius: 50%;
       transform: scale(1.5);
       height: 20px;

   }

   .dives .right-text {
       border-left: 1px solid black;
   }

   .dives .right-text span {
       width: 100%;
   }

   .dives div {
       width: 100%;
   }

   .right-text .dd {
       display: none;
       position: fixed;
       width: 10%;
       border: 1px solid red;
   }

   .right-text:hover .dd {
       display: block;
   }

   .right-text span:hover {
       color: #e30404;
   }

   .right-text .dd ul li {
       border: 1px solid red;
   }

   .right-text .dd ul li:hover {
       background-color: red;
   }

   /* 导航栏 */
   .head-nav nav span {
       margin-left: 5%;
       margin-right: 5%;
   }

   .head-nav .collapse ul li {
       margin: 15px;
   }

   .head-nav .collapse ul li:hover {
       background-color: #f5e084;
   }

   /* 第二部分 */
   .tu {
       margin-left: 0%;
       width: 100%;
       overflow: hidden;
       flex-wrap: nowrap;
       overflow-x: auto;
   }

   div::-webkit-scrollbar {
       width: 0px;
       background: none;
   }

   .tu img {
       box-shadow: -2px 6px 19px 0px #7f818e;
       width: 100%;

   }

   .tu .poto:hover {
       transform: scale(1.02);
   }

   .box1 {
       border: 1px solid rgb(213, 212, 212);
       margin: 5px;
       margin-top: 15px;
   }

   .box1:hover {
       background-color: #cccbcb;
   }

   .poto img {
       margin-top: 10px;
       padding: 0px;
       height: 100%;
       margin-left: 90%;
   }

   .tu {
       width: 100%;
   }

   .tu .box-right {
       line-height: 30px;
       text-align: center;
   }

   .box-but p {
       border: 1px solid #CBB5E2;
       text-align: center;
       color: #CBB5E2;
   }

   .box-but1 p {
       border: 1px solid #FBADAF;
       text-align: center;
       color: #FBADAF;
   }

   .box-but2 p {
       border: 1px solid #de3962;
       text-align: center;
       color: #de3962;
   }

   .box-but3 p {
       border: 1px solid #1fade5;
       text-align: center;
       color: #1fade5;
   }

   .box-but4 p {
       border: 1px solid #f57ec5;
       text-align: center;
       color: #f57ec5;
   }

   .box-but p:hover {
       color: #ff6dbe;
   }

   .box-but1 p:hover {
       color: #FBADAF;
   }

   .box-but2 p:hover {
       color: #de3962;
   }

   .box-but3 p:hover {
       color: #1fade5;
   }

   .box-but4 p:hover {
       color: #f57ec5;
   }

   .tu .active {
       color: red;
   }

   /* 第三部分 */
   .first ul li {
       padding: 15px;
   }

   .first ul li a {
       text-decoration: none;
   }

   .first li:hover {
       background-color: lightblue;
   }

   /* 第四部分 */
   .two {
       margin-top: 5%;
       margin-bottom: 5%;
   }

   .two .row .two-left {
       border-left: 1px solid #d9ae6a;
   }

   .two .row span {
       color: #7f818e;
   }

   .two .row .two-text {
       width: 100%;
       border-top: 1px solid black;
       border-bottom: 1px solid black;
       font-size: 16px;
   }

   .two .two-text {
       display: -webkit-box;
       text-indent: 3rem;
       -webkit-box-orient: vertical;
       -webkit-line-clamp: 3;
       overflow: hidden;
   }

   .two .first-img {
       text-align: center;
   }

   h6,
   .fenlei .bookfen p,
   .textdan {
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
   }